extends layout

block content
  header
    h1 chatastrophe
  article
    ul#messages
    form(action='')
      input#message(autocomplete="off")
      button Send
  script(src="javascripts/socket.io.js")
  script(src="javascripts/chat.js")
