extends layout

block content
  script(src="javascripts/socket.io.js")
  script.
    const socket = io();
  header
    h1 chatastrophe
  article
    ul#messages
    form(action='')
      input#message
      button Send
