extends layout

block content
  header
    h1 chatastrophe
  article
    form#register-form(action='')
      label(for="nick") Register a nickname:
      input#nick(autocomplete="off", name="nick")
      button Send
  script(type="text/javascript", src="javascripts/nick.js")

